{% extends 'base.html.twig' %}

{% block page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<p>※フォームを用意します。</p>
<table>
{% include '/hello/form.html.twig' %}
</table>
{% endblock %}